<div class="library-tabs">
        <div class="tab-buttons">
            {{#each statuses}}
            <button class="tab-button{{#if isActive}} active{{/if}}" data-tab="{{id}}">{{label}}</button>
            {{/each}}
        </div>
        
        {{#each statuses}}
        <div class="tab-content{{#if isActive}} active{{/if}}" id="{{id}}">
            <div class="library-grid">
                {{#each items}}
                <div class="library-item">
                    {{> content-card this}}
                    <div class="library-item-actions">
                        <select class="status-select" data-item-id="{{id}}">
                            {{#each ../../statuses}}
                            <option value="{{id}}">{{label}}</option>
                            {{/each}}
                        </select>
                        {{#if ../actions}}
                            {{#each ../actions}}
                                {{#if (shouldShowAction this ../status)}}
                                <button class="{{class}}" data-item-id="{{../id}}">{{label}}</button>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{#if userRating}}
                        <div class="user-rating">Ваша оценка: <span>{{userRating}}</span>/10</div>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>